.item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border: solid 2px grey;
    justify-content: center;
    align-items: center;
}
.imagen{
    width: 220px;
    height: 220px;
}